@import "styles.css";

/* About Writer box */
#about-writer-box {
  background: var(--box-color);
  border: 1.5px solid var(--text-color);
  box-shadow: -2.5px 2.5px var(--text-color);
  padding: 5px;
  margin: 10px;
  margin-bottom: 15px;
  overflow-y: scroll;
  height: 1058px;
}

#about-writer-box div {
  padding: 20px;
  text-align: center;
}

/* Attribute */
.attribute {
  font-size: smaller;
}

.attribute a {
  color: var(--tertiary-shade);
  text-decoration: none;
}

/* Images */
#about-pic {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  position: relative;
  max-width: 100%;
}

/* Typography */
#about-writer-box h3 {
  text-align: center;
}
