@import "styles.css";

#main-nav ul {
  padding: 10px 0;
  list-style-type: none;
}

#main-nav li {
  background: var(--box-color);
  border: 1.5px solid var(--text-color);
  box-shadow: -2.5px 2.5px var(--text-color);
  margin: 10px;
  font-weight: 500;
}

#main-nav a {
  text-decoration: none;
  text-align: center;
  color: var(--text-color);
  display: block;
}

#main-nav a:hover {
  color: var(--box-color);
}

#main-nav #home {
  background: var(--primary-color);
}

#main-nav #home:hover {
  background: var(--primary-shade);
}

#main-nav #about {
  background: var(--quaternary-color);
}

#main-nav #about:hover {
  background: var(--quaternary-shade);
}

#main-nav #blog {
  background: var(--tertiary-color);
}

#main-nav #blog:hover {
  background: var(--tertiary-shade);
}

#main-nav #store {
  background: var(--secondary-color);
}

#main-nav #store:hover {
  background: var(--secondary-shade);
}

#main-nav #contact {
  background: var(--quinary-color);
}

#main-nav #contact:hover {
  background: var(--quinary-shade);
}

/* Toggle */
#toggle-box {
  background: var(--box-color);
  border: 1.5px solid var(--text-color);
  box-shadow: -2.5px 2.5px var(--text-color);
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: 10px;
}

#toggle div {
  width: 35px;
  height: 2.5px;
  background: var(--text-color);
  margin: 7px 0;
  margin-left: auto;
  margin-right: 0;
}

.hide-small {
  display: none;
}

@media only screen and (min-width: 1310px) {
  #toggle-box,
  #toggle {
    display: none;
  }

  .hide-small {
    display: flex;
  }

  #main-nav li {
    flex: 1;
  }
}
