@import "styles.css";
@import "addreview-form.css";

#review-box {
  background: var(--box-color);
  border: 1.5px solid var(--text-color);
  box-shadow: -2.5px 2.5px var(--text-color);
  padding: 20px;
  margin: 10px;
  margin-bottom: 15px;
  text-align: center;
}

#review-container {
  height: 500px;
  overflow-y: scroll;
}

.reviews {
  text-align: left;
  padding: 10px 5px;
  border-bottom: 1px solid var(--text-color);
}

.review-head {
  display: inline;
}

#review-info {
  position: relative;
  padding-top: 5px;
}

#edit {
  position: absolute;
  color: var(--text-color);
  font-size: 20px;
  left: -10px;
  bottom: -12px;
}

a {
  padding: 10px;
}

#remove {
  position: absolute;
  color: var(--text-color);
  left: 40px;
  font-size: 20px;
  bottom: -12px;
}

.rating {
  position: relative;
  text-align: right;
  bottom: 0;
}

#result {
  padding-top: 60px;
}
