@import "styles.css";

/* Store Featured Box */
#store-featured {
  margin-top: 20px;
}

#store-items {
  background: var(--box-color);
  border: 1.5px solid var(--text-color);
  box-shadow: -2.5px 2.5px var(--text-color);
  padding: 15px;
  margin: 10px;
  margin-bottom: 15px;
  max-width: 100%;
  position: relative;
  text-align: center;
  display: block;
}

#store-items:last-child {
  margin-bottom: 15px;
}

#btn-box {
  text-align: center;
  padding: 15px;
}

#btn-add {
  background-color: var(--tertiary-color);
  border: 1px solid var(--tertiary-shade);
  border-radius: 10px;
  padding: 5px;
}

/* Images */
#store-items img {
  width: 200px;
  height: 200px;
  position: relative;
  object-fit: cover;
}

/* Typography */
#store-items a {
  color: var(--text-color);
  text-decoration: none;
}
