body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

/* Layout (move to separate .css file) */
#main-nav ul {
  padding-left: 0;
}

#main-nav li {
  list-style-type: none;
  padding: 10px;
  display: inline;
}

#main-nav a {
  text-decoration: none;
  color: black;
}
